<div class="app-header header-shadow">
    {{> Components/logo }}
    <div class="app-header__content">
        <div class="app-header-left">
            {{> Components/header-left }}
        </div>
        <div class="app-header-right">
            {{> Components/header-right }}
        </div>
    </div>
</div>