<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="{{ htmlWebpackPlugin.options.heading_icon }}">
                </i>
            </div>
            <div>{{ htmlWebpackPlugin.options.title }}
                <div class="page-title-subheading">{{ htmlWebpackPlugin.options.description }}
                </div>
            </div>
        </div>
        {{> page-title-actions }}
    </div>
</div>