// Header Dark
// Uses SASS rgba() with $black variable for consistent color management

.app-header {
  &.header-text-dark {
    .app-header-left > .nav > li > .nav-link {
      color: rgba($black, .7);

      .nav-link-icon {
        color: rgba($black, .8);
      }

      &:hover {
        color: $black;
      }
    }

    .app-header-right {
      .icon-wrapper-alt {

        .fa,
        .icon {
          color: rgba($black, .7) !important;
          transition: all .2s;
        }

        .icon-wrapper-bg {
          background: rgba($black, .1) !important;
          transition: all .2s;
          opacity: 1;
        }

        &:hover {
          .fa,
          .icon {
            color: rgba($black, .95) !important;
          }

          .icon-wrapper-bg {
            background: rgba($black, .15) !important;
          }
        }

        .badge-dot {
          border-color: transparent;
        }
      }

      & > .header-btn-lg {

        & .widget-content-left .btn-group > .btn,
        .widget-heading,
        .widget-subheading {
          color: rgba($black, .8);
        }

        .header-user-info {
          & > .btn-shadow {
            box-shadow: 0 0.125rem 0.625rem rgba($black, .1), 0 0.0625rem 0.125rem rgba($black, .2);
          }
        }
      }
    }

    .search-wrapper {
      .input-holder {
        .search-icon {
          background: rgba($black, .1);
        }
      }

      &.active {
        .input-holder {
          background: rgba($black, .1);

          .search-input {
            color: rgba($black, .8);
          }

          .search-icon {
            background: rgba($black, .1);
          }
        }
      }
    }

    .header-btn-lg {
      &::before {
        background: rgba($black, .2);
      }
    }

    .header-btn-lg,
    .header__pane {
      .hamburger-inner,
      .hamburger.is-active .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: rgba($black, .8) !important;
      }
    }

    .search-wrapper .input-holder .search-icon span::after {
      border-color: rgba($black, .8);
    }

    .search-wrapper .btn-close::before,
    .search-wrapper .btn-close::after,
    .search-wrapper .input-holder .search-icon span::before {
      background: rgba($black, .8);
    }

    .app-header__logo {
      .logo-src {
        background: url('utils/images/logo-inverse.png');
      }
    }

  }

}
